<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/dashboard.css' />
  </head>
  <body>
    <div class="dashboard-container">
      <h3 class="welcome-title">Welcome: <%= name %></h3>
      
    </div>
  </body>
</html>
